@import "../../../scss/utilities";

.pricing-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
  height: 100vh;
  background: $gradient-right;
  .pricing {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .price-tag {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .column {
      margin: 10px;
    }
    .cards {
      background-color: whitesmoke;
      max-width: 300px;
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      .price-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-bottom: 0.5px solid #000;
        font-family: $font-family;
      }
      .price-header > * {
        font-size: 40px;
        font-weight: bold;
        font-family: $font-family;
      }
      .price-price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 30px;
        font-family: $font-family;
      }
      .price-body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        font-family: $font-family;
      }
      .price-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        font-size: 20px;
        font-weight: bold;
        font-family: $font-family;
      }
    }
  }
}

@media screen and (max-width: 775px) {
    .pricing-container {
        height: calc(100vh * 2);
    }
}