@import '../../scss/base.scss';
.register-page{
    .login-container{
        background-color: #EBEBEB;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form-container{
            display: flex;
            flex-direction: column;
            background-color: whitesmoke;
            padding: 40px;
            min-width: 680px;
            height: 100hv;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
            -moz-box-shadow:    3px 3px 5px 6px #ccc; 
            box-shadow: 3px 3px 5px 6px #ccc;
            .field{
                .input{
                    border: 1px solid #D9D9D9;
                    border-radius: 0px;
                }
            }
        }
    }
    @media only screen and (max-width: 600px){
        .login-container{
            .form-container{
                min-width: 380px;
            }
        }
    }
}