@import '../scss/utilities';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sleepy-warpper{
    height: 6rem;
    background-color: $white;
    color: $white;
    width: 100%;
    font-family: $font-family;
    font-size: 1.3rem;
    .navbar-end {
        .navbar-item {
            .buttons-container {
                padding: 10px;
                display: flex;
                flex-direction: row;
                .button {
                    margin: 10px;
                    width: 150px;
                }
            }
        }
    }
    .navbar-item img {
            max-height: 5rem;           
            width: 5rem;
    }
    .logo{
        padding: 5px;
        height: 18rem;
    }
}
