.sleepy-warpper{
    height: 80px;
    .logo{
        padding: 5px;
        width: 36px;
        height: 28px;
    }
    .button{
        border: 1px solid #ffffff;
        border-radius: 0px;
        background-color: purple;
        color: #ffffff;
        width: 110px;
    }
    .seconday{
        background-color: aqua;
        color: #ffffff;
    }
}