.networkloading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .animation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .profile-avatar{
        .profile-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 10px;
            margin: 30px;
            height: 600px;
            width: 400px;
            background-color: white;
            .avatar{
                top: -30px;
                border: 20px solid #fff;
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            .user-details{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px;
                .icon{
                    margin-right: 5px;
                }
            }
            .actions{
                display: flex;
                flex-direction: column;
            }

        }
    }
}
.ant-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modal-content{
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
