@import '../../../../scss/utilities';

.stripe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    .form-checkout{
        align-items: center;
        width: 400px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px 1px #b9c3ce;
        background-color: #fff;
        .StripeElement {
            padding: 10px;
        }
        .product-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .product-title{
                font-size: 20px;
                font-family: $font-family;
            }
            .product-price {
                font-size: 17px;
                font-family: $font-family;
            }
        }
        .button{
            border-radius: 10px;
        }
    }
}