$primary-color: rgb(83, 17, 109);
$font-family: 'Source Code Pro', monospace;

.button{
    width: 100%;
    background-color: $primary-color;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}